.Italiano{
    background-color: brown;
}
.Informatica{
    background-color: red;
}
.Sistemi{
    background-color: blue;
}
.Matematica{
    background-color: lime;
}
.Telecomunicazioni{
    background-color: orange;
}
.Religione{
    background-color: darkblue;
}
.TPSIT{
    background-color: purple;
}
.Inglese{
    background-color: darkcyan;
}
.Ginnastica{
    background-color: yellow;
}
