body{
    background-color:#383535 ;
    color: white;
}
div{
    border: 2px lightgrey solid;
    border-radius: 15px;
    margin: 10px;
    padding: 0 5px;
}
.contenitoriGenerali{
    border: 2px solid blue;
    margin: 5px;
    padding: 5px;
}
img{
    width:200px;
    display: block;
    margin: 15px;
}
button{
    border: 2px red solid;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
}
select, input, p{
    margin: 10px;
}
select, input{
    border: white 2px solid;
    border-radius: 15px;
    background-color:#383535;
    color: white;
    padding:5px;
}
.caricamento{
    height:100px;
    width: 100px;
}
.hidden{
    display: none;
}
.insuccesso{
    color: red;
}
.successo{
    color: green;
}
#map{
    height: 750px;
}
#map *{
    border: 0;
}