body{
    background-image: url("../fotoVarie/Sfondo.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "titolo titolo titolo"
    "nav nav nav"
    "Arco Catalizzatore Claymore"
    "Lancia Spada null ";
    }

header{
    grid-area: titolo;
    text-align:center;
    font-size: 25px;
    padding: 100px;
    margin: 0px;
    background-image:url("../fotoVarie/LogoHoyoverse.jpg");
    color: rgb(165, 42, 159);
    }
    
 nav{
    grid-area: nav;
    background-color: rebeccapurple;
    }

li{
    display: inline;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
      
li {
    float: left;
    }
      
li a {
    display: block;
    padding: 8px;
    background-color: rebeccapurple;
    }

li a:hover {
    background-color: rgb(131, 79, 184);
    }

h1{
    color: azure;
    }

li.destra{
    float: right;
    }

h2{
    color:cyan;
    font-size:20px;
    }

h6.arma{
    color:white;
    font-size: 20px;
    text-align:center;
    }

p.arma{
    text-align: center;
    }