*{
    --colore-azzurrino:rgb(75, 75, 255);
    --me-cieco-se-non-lo-metto:rgb(152, 152, 152);
}
html,body{
    background-color: var(--me-cieco-se-non-lo-metto);
    font-size: 18px;
    height: 100%;
}
h1{
    text-align: center;
}
.biglietto{
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 2px var(--colore-azzurrino) solid;
    border-radius: 15px;
    width: 500px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pannelloControlli{
    border: 2px var(--colore-azzurrino) solid;
    border-radius: 15px;
    background-color: azure;
    padding: 15px;
}
h2{
    font-size: 35px;
    font-weight: bolder;
}
.prenotazione{
    border-bottom: 2px var(--colore-azzurrino) dashed;
    position: absolute;
    text-align: center;
    text-decoration: none; 
    right: 20px;
    top: 70%;
    /* Preso da chatGPT perchè non son bravo con il css */
    transform: rotate(90deg) translateY(-50%);
    transform-origin: top right;
}
#carrello{
    height: 40px;
}