body{
    background-image:url("../immagini/sfondoBosco.svg");
    background-repeat: repeat-x;
    position: fixed;
}
div{
    bottom: 14%;
    position:fixed;
    height: 227px;
    width: 233px;
}
#personaggio{
    background-image:url("../immagini/omino.png");
}
.zombie{
    background-image: url("../immagini/zombie.jpg");
}