body{
    position: fixed; 
    background-image: url(../immagini/sfondoBase.jpg);
    background-size: cover;
}
img{
    border: white 3px solid;
    border-radius: 5px;
    height: 200px;
    padding: 5px;
}
a{
    position: fixed;
}