h1{
    color: red;
    background-color: yellow;
    padding-top: 1em;
}
table,tr{
    border-collapse: collapse;
}
th{
    background-color: black;
    color: white;
    border: solid 1px black;
}
td{
    border: solid 1px;
}
em{
    color: blue;
    background-color: pink;
    font-style: normal;
}
h2{
    color: green;
    border-bottom: dashed 2px green;
}
.alto{
    vertical-align: text-top;
}
h3{
    color: blue;
}
th, td{
    padding: 0.2em;
}
body{
    margin: 1em;
}